.main-container {
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.visible-bar {
  position: fixed;
}

@media only screen and (max-width: 425px) {
  .main-container {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 770px) {
  .visible-bar {
    display: none;
  }
}
